<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show All Shelter</title>
</head>
<body>
  {% if (result == 'No')  %}
    <div>
       <p> No shelters added yet. </p>
    </div>
  {% endif %}
  {% if (result == 'Yes')  %}
  {% for shelter in shelters  %}
    <div>
      <p>{{shelter.name}}</p>
      <p>{{shelter.website}}</p>
    </div>
  {% endfor %}
  {% endif %}
  <h1> Show all shelters</h1>
  <input type="button", value="Add shelter" onclick="add_shelter()">
  <script>
    function add_shelter() {
      window.location = '/show_all_shelters/add_shelter'
    }
  </script>

</body>
</html>